// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
@import "~vuetify/src/styles/styles.sass";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

.black-text {
  color: black;
}

$heading-font-family: "Montserrat";

.v-application {
  .headline,
  .title,
  .text-h1,
  .text-h2,
  .text-h3,
  .text-h4 {
    font-family: $heading-font-family !important;
  }
  .text-h5 {
    font-family: $heading-font-family !important;
    letter-spacing: 0.06em;
  }
  a {
    text-decoration: none !important;
  }
}

.v-card__text,
.v-card__title {
  word-break: normal !important;
}
